.git
.github
.vscode

app/memos/.git
app/memos/.github

app/memos/node_modules
app/memos/web/node_modules

app/memos/build
app/memos/dist

*.log
.DS_Store

.git
.github
.terraform
*.tfstate
*.tfstate.*
.gitignore
README.md
node_modules